

#b {
    background: url("../img/b0.png")/*tpa=http://aosmith.accdo.com/tkc_cs/img/b0.png*/ no-repeat center top;
    background-size: 10rem auto;

}

#b1 {
    position: absolute;
    display: none;
    top: 0.5rem;
    width: 4.1rem;
    margin: 0 auto;
    left: 3.1rem;
}

#b2 {
    position: absolute;
    display: none;
    width: 6rem;
    margin: 0 auto;
    left: 2rem;
    top: 2rem;
}


#b4 {
    left: 2.5rem;
    display: none;
    z-index: 3;
    position: absolute;
    width: 5rem;
    margin: 0 auto;
    top: 3.3rem;

}
#b3 {
    left: 1.9rem;
    display: none;
    z-index: 3;
    position: absolute;
    width: 6rem;
    margin: 0 auto;
    top: 4.0rem;
}

#b5 {
    left: 1.9rem;
    display: none;
    z-index: 3;
    position: absolute;
    width: 6rem;
    margin: 0 auto;
    top:0rem;

}